# Gateway
GATEWAY_PORT=3000

# Services
CATALOG_SERVICE_PORT=3001
USERS_SERVICE_PORT=3002
RECOMMENDATIONS_SERVICE_PORT=3003

# Catalog cache
CATALOG_CACHE_ENABLED=false
CATALOG_CACHE_TTL_SECONDS=60
CATALOG_REDIS_URL=redis://127.0.0.1:6379

# Internal service URLs
CATALOG_SERVICE_URL=http://localhost:3001
USERS_SERVICE_URL=http://localhost:3002
RECOMMENDATIONS_SERVICE_URL=http://localhost:3003
